.like {
  width: 50px;
  height: 35px;
}

.like:hover {
  opacity: 0.8;
}

.unlike {
  width: 70px;
  height: 70px;
}

.unlike:hover {
  opacity: 0.8;
}

@media (min-width: 700px) {
  .unlike {
    font-size: 13px;
    padding: 6px 4px 6px 4px;
  }
}
