@import url("https://fonts.googleapis.com/css2?family=Kaisei+Opti&display=swap");

.text {
  white-space: pre-wrap;
}
.big-text {
  font-size: 20px;
  font-family: HanziPen TC;
}

.card_textbox {
  width: 100%;
  height: auto;
  padding: 10px 10px;
  background: #fff;
  box-sizing: border-box;
  box-shadow: 10px 5px 5px #314357;
}

.card_textbox-v2 {
  width: 100%;
  padding: 0 10px;
  height: auto;
  background: #314357;
  box-sizing: border-box;
  box-shadow: 10px 5px 5px #fff;
}

.card-loading {
  width: 250px;
  margin: 15px auto;
  padding: 5px;
  height: auto;
  background: #314357;
  box-sizing: border-box;
  box-shadow: 10px 5px 5px #fff;
}

.card-loading-text {
  font-family: HanziPen TC;
  font-size: 25px;
  color: #fff;
}

.top-text-first {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 40px;
  color: #314357;
  text-shadow: 0 0 15px #ffffff;
}

.nom-match-text-first,
.mypage-text-first,
.content-videos-index-text-first,
.content-videos-show-text-first,
.completed-videos-index-text-first {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 60px;
  color: #314357;
  text-shadow: 0 0 15px #ffffff;
}

@media (max-width: 670px) {
  .mypage-text-first,
  .content-videos-index-text-first,
  .content-videos-show-text-first,
  .completed-videos-index-text-first {
    font-size: 35px;
  }
}

.top-text-second {
  font-size: 25px;
  color: #0e2e3b;
  text-shadow: 0 0 20px #ffffff;
  font-family: HanziPen TC;
  font-weight: 40;
  white-space: pre-wrap;
}

.content-videos-index-text-second {
}

.content-videos-show-text-second {
  display: inline-block;
  font-size: 20px;
  font-family: HanziPen TC;
  color: #fff;
  white-space: pre-wrap;
}

.content-videos-show-text-second span {
  font-family: "AcademyEngravedLetPlain", sans-serif;
  font-size: 35px;
}

@media (max-width: 400px) {
  .top-text-first,
  .top-text-second {
    font-family: "Kaisei Opti", serif;
  }

  .content-videos-show-text-second {
    font-size: 20px;
    white-space: pre-wrap;
  }

  .content-videos-show-text-second span {
    font-size: 30px;
  }
}

.content-videos-show-text-third {
  display: inline-block;
  font-size: 20px;
  font-family: HanziPen TC;
  color: #fff;
  white-space: pre-wrap;
}

.content-videos-show-text-fourth {
  display: inline-block;
  font-size: 35px;
  font-family: HanziPen TC;
  color: #fff;
  white-space: pre-wrap;
}

.content-videos-show-text-third span {
  font-family: "AcademyEngravedLetPlain", sans-serif;
  font-size: 35px;
}

.completed-videos-index-text-second {
}

.completed-video-card-text {
  font-size: 50px;
  color: #314357;
  text-shadow: 0 0 30px yellow;
}

@media (max-width: 670px) {
  .completed-video-card-text {
    font-size: 20px;
  }
}

.profile-name {
  font-family: "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", sans-serif;
}

.profile-email {
  font-family: "AcademyEngravedLetPlain", sans-serif;
}
