.content-video-card-information-list {
}

.card {
  margin-bottom: 30px;
}

.information-box {
  padding: 1rem;
  box-shadow: 10px 10px 0 #e3b587;
  background-color: #314357;
  color: #e3b587;
}

.information-box p {
  line-height: 1.5;
}

.content-video-card-button-list {
  margin: 1rem 1rem;
}

.content-video-card-button {
  text-align: center;
}

.thumbnail-frame {
  position: relative;
  margin-top: 20px;
}

.thumbnail-card {
  width: 100%;
}

.image {
  position: relative;
}

.image::before,
.image::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
}

.image::before {
  top: -15px;
  right: -15px;
  border-width: 0 50px 50px 0;
  border-color: transparent #053e62 transparent transparent;
}

.image::after {
  bottom: -15px;
  left: -15px;
  border-width: 50px 0 0 50px;
  border-color: transparent transparent transparent #053e62;
}

.thumbnail-door {
  width: 20%;
  position: absolute;
  bottom: 240px;
  left: 50px;
}

@media (max-width: 670px) {
  .thumbnail-door {
    width: 20%;
    position: absolute;
    bottom: 130px;
    left: 20px;
  }
}
