.content-video-card-information-list {
}

.information-box {
  padding: 1rem;
  box-shadow: 10px 10px 0 #e3b587;
  background-color: #314357;
  color: #e3b587;
}

.information-box p {
  line-height: 1.5;
}

.content-video-card-button-list {
  margin: 1rem 1rem;
}

.content-video-card-button {
  text-align: center;
}

.thumbnail-frame {
  position: relative;
}

.thumbnail-card {
  width: 100%;
}

.thumbnail-door {
  width: 20%;
  position: absolute;
  bottom: 230px;
  left: 20px;
}
