.header_container {
  padding: 1em 1em 1em 1em;
  height: 150px;
}

.header {
  display: "inline-block";
}

.header_iconlist {
  display: "flex";
  margin: auto;
}

.icon {
  margin: 5px 5px;
}

.title_logo_container {
  height: 150px;
}

.title_logo {
  display: "inline-block";
  width: 100%;
  height: 100%;
}

.moviefilm_line {
  width: 100%;
}

.header_movie-camera {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
