.completed-videos-index {
  background-color: darkgray;
  padding-top: 100px;
  width: 100%;
}

.completed-videos-container {
  width: 100%;
  margin: 0 auto;
  min-height: 900px;
}

.completed-video-set {
  width: 90%;
}
h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 50px;
}
