.text {
  white-space: pre-wrap;
}

.content-videos-index {
  padding-bottom: 100px;
  min-height: 900px;
}

.content-videos-index .container {
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
}

.content-videos-index-header {
  height: 40px;
}

@media (max-width: 670px) {
}
