.area {
  height: 30px;
}

.top {
  margin-top: 10px;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.eyecatch-movie-container {
  width: 100%;
  height: 400px;
  margin-top: 100px;
  margin-bottom: 200px;
}

.top-app-info,
.top-appーpantomime-movie {
  margin: 0 auto;
  width: 70%;
  margin-top: 200px;
  margin-bottom: 200px;
}

.eyecatch-movie {
  display: inline-block;
  text-align: center;
}

.movie {
  height: 400px;
  width: 800px;
}

.link-button {
  margin: 20px 0;
}

@media (max-width: 670px) {
  .eyecatch-movie-container {
    width: 100%;
    height: 190px;
  }
  .eyecatch-movie {
    text-align: center;
  }
  .movie {
    height: 190px;
    width: 340px;
  }
}
