.top {
  margin-top: 10px;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.eyecatch-movie-container {
  width: 100%;
  height: 450px;
}

.eyecatch-movie {
  text-align: center;
}

.movie {
  height: 450px;
  width: 900px;
}

.link-button {
  margin: 20px 0;
}

@media (max-width: 670px) {
  .eyecatch-movie-container {
    width: 100%;
    height: 190px;
  }
  .eyecatch-movie {
    text-align: center;
  }
  .movie {
    height: 190px;
    width: 340px;
  }
}
