.text {
  white-space: pre-wrap;
}

.top-movie-container {
  width: 100%;
  height: 500px;
}

.top-movie {
  text-align: center;
}

@media (max-width: 1920px) {
  .movie {
    height: 450px;
    width: 900px;
  }
}

@media (max-width: 1000px) {
  .movie {
    height: 450px;
    width: 900px;
  }
}

@media (max-width: 670px) {
  .movie {
    height: 225px;
    width: 450px;
  }
}
