.responsive {
  height: 400px;
  aspect-ratio: 16/9;
}

@media (max-width: 900px) {
  .responsive {
    width: 600px;
    aspect-ratio: 16/9;
  }
}

@media (max-width: 670px) {
  .responsive {
    width: 390px;
    aspect-ratio: 16/9;
  }
}

@media (max-width: 390px) {
  .responsive {
    width: 100vw;
    aspect-ratio: 16/9;
  }
}
