.c {
  position: absolute;
  max-width: 500px;
  max-height: 500px;
  width: 130px;
  height: 220px;
  cursor: pointer;
  will-change: transform, opacity;
}

.front,
.back {
  background-size: cover;
}

.back {
  background-image: url(src/assets/design/door.png);
}

.front {
  background-image: url(src/assets/design/door-back.png);
}

.container {
}
